data/
.ipynb_checkpoints/
*.db
*.txt
*.pdf
CityofLA/.DS_Store
CityofLA/Additional data/.DS_Store
CityofLA/Additional data/Description of promotions in job bulletins.docx
CityofLA/Additional data/job bulletins with annotations/Annotation elements with description.docx
*.csv
CityofLA/Additional data/PDFs/.DS_Store
CityofLA/Additional data/PDFs/2017/july 2017/July 21/Zip file test 2.zip
CityofLA/Additional data/PDFs/2014/July 2014/Job 07112014.doc
CityofLA/Additional data/PDFs/2014/June 2014/Job 06272014.doc
CityofLA/Additional data/PDFs/2015/october 2015/oct 9/~$IME AND INTELLIGENCE ANALYST  2236 100915 (1).doc
CityofLA/Additional data/PDFs/2017/july 2017/July 21/Zip File Test.zip
CityofLA/Additional data/PDFs/2017/november 2017/Nov 17/Job  11172017  Summary.doc
CityofLA/Additional data/PDFs/2017/october 2017/Oct 20/GM Promulgation Memo 102717 (1).doc
